@model Nop.Plugin.Widgets.ShowText.Models.ConfigurationModel

@{
    Layout = "_ConfigurePlugin";
}

@await Component.InvokeAsync(typeof(StoreScopeConfigurationViewComponent))
<form asp-controller="WidgetsShowText" asp-action="Configure" method="post">
    <section class="content">
        <div class="container-fluid">
            <div class="cards-group">
                <div class="card card-default">
                    <div class="card-header">
                        @T("Plugins.Widgets.ShowText.Title")
                    </div>
                    <div class="card-body">
                        
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="Text_OverrideForStore" asp-input="Text" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="Text" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Text" />
                                <span asp-validation-for="Text"></span>
                            </div>
                        </div>
                        
                    </div>
                </div>
               
                <div class="card card-default">
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-9 offset-md-3">
                                <button type="submit" name="save" class="btn btn-primary">@T("Admin.Common.Save")</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>