@model Nop.Plugin.Widgets.ShowText.Models.ShowTextInfoModel
@{
    Layout = "";
}

<div class="slider-wrapper theme-custom">
    <div id="" class="">
        <h2 style="color: #43C;" ">@Model.Text</h2>
    </div>
</div>