@model EmployeeDetailsModel

<div class="card-body">
    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="Name" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="EmployeeDesignation" />
        </div>
        <div class="col-md-9">
            <nop-select asp-for="EmployeeDesignation" asp-items="@Html.GetEnumSelectList<DesignationType>()" />
            <span asp-validation-for="EmployeeDesignation"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="Salary" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="Salary" />
            <span asp-validation-for="Salary"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="IsActive" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="IsActive" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="JoiningDate" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="JoiningDate" />
            <span asp-validation-for="JoiningDate"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="PictureId" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="PictureId" />
            <span asp-validation-for="PictureId"></span>
        </div>
    </div>
</div>